.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  position: fixed;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  align-items: center;
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}
