.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* 容器被觸碰時 改input之後的checkmark style */
.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* 容器內的input勾選時 改之後的checkmark style */
.sidebar-label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* 先準備隱藏的勾選圖案
   ::after後置偽元素 多一個看不到的小盒子
   一定要有content偽元素才會出現即使是空字串
   position absolute讓勾勾可以在.checkmark用top/left等定位
   display一開始不顯示 */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
/* 容器內的input勾選時 做之後的checkmark偽元素(讓勾勾顯示) */
.sidebar-label-container input:checked ~ .checkmark::after {
  display: block;
}
/* 勾勾的樣式設定 */
.sidebar-label-container .checkmark::after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}
